body{
    background-color: #ffaedf;
}

.logo{
    border-radius: 60px;
    height: 100px;
    margin-top: 17px;
    margin-left: 120px;
    background-image: url(/img/logo.png);
    background-size: 100px;
    box-shadow: 0px 04px 04px #d47d7d71;
    background-repeat: no-repeat;
    max-width: 100px;
    min-width: 30px;
}

.title1{
    color: #ffffff;
    text-align: right;
    position: fixed;
    top: 28px;
    left: -80px;
    width: 534px;
    height: 100px;
    font-size: 25px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.title2{
    color: #ffffff;
    text-align: right;
    position: fixed;
    top: 80px;
    left: -80px;
    width: 534px;
    height: 100px;
    font-size: 25px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.sidebar_left{
    background-color: #FDDADA;
    border-radius: 8px;
    position: fixed;
    top: 186px;
    left: 120px;
    bottom: 130px;
    padding: 12px ;
    box-shadow: 0px 04px 04px #d47d7d71;
    width: 300px;
}

li {
    list-style-type: none;
}

.sidebar nav ul li {
    padding-top: 30px;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 42px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 04px 04px #d47d7d71;
    background: transparent;
    font-weight: 600;
}

a{
    color: #8E4848;
    font-size: 20px;
}

.container{
    background-color: #FDDADA;
    border-radius: 8px;
    position: fixed;
    top: 10px;
    left: 550px;
    bottom: 130px;
    padding: 12px ;
    max-width: 850px;
    min-width: 320px;
    height: 667px;
    overflow: auto;
       box-shadow: -5px -5px 30px 5px  #d47d7d71 
}

.container_title{
    border-radius:  8px 8px 0 0 ;
    position: fixed;
    background-color: #FDDADA;
    width: 874px;
    height: 60px;
    left: 550px;
    top: 10px;
    color: #ffff;
    text-align: center;
}

.container_title h1{
    margin-top: 10px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.scroll{
    margin-top: 50px;
}

.post{
    float: left;
    width: 659px;
    padding: 10px;
    background-color:#8E4848;
    margin: 0px 85px 0px;
    border-radius: 20px;
}

.post .pin{
    float: left;
    width: 32%;
    padding: 0px 0px 0px 28px;
    margin: 0px 74px 10px 0px;
}

img{
    margin: 10px 2px;
    box-shadow: 0px 0px 5px 10px #2002025c;
    display: block;
    position:static;
}

.f{
    display: none;
}

.f a{
    color: #8E4848;
    text-decoration: none;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 272px;
    background-color: rgb(203, 158, 158);
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px #2002025c;
}

.post .pin:target{
       width: 27%;
       height: 580px;
       padding-left: 40px;
       padding-top: 20px;
}

.post .pin:target .f{   
    display: block;
}

.pin:target{
    position: fixed;
    top: 59px;
    left: 50%;
    margin: 10px;
    background-color: #8E4848;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 05px #2002025c;
}

.post .pin:target a img{
    width: 350px;
}

::-webkit-scrollbar{
    width: 09px;
}

.scroll::-webkit-scrollbar-track{
padding: 30px;
}

::-webkit-scrollbar-thumb{
background-color: rgb(241, 171, 225);
border-radius: 30px;
}

@media screen and (min-width: 320px){

.logo{

    margin-top: 17px;
    margin-left: 20px;
}

.title1{
    top: 50px;
    left: -250px;
    font-size: 17px;
}

.title2{
    left: -230px;
    top: 89px;
    font-size: 17px;
}

.sidebar_left{
    background-color: #FDDADA;
    border-radius: 8px;
    position: fixed;
    top: 186px;
    left: 120px;
    bottom: 130px;
    padding: 12px ;
    box-shadow: 0px 04px 04px #d47d7d71;
    width: 300px;
}

li {
    list-style-type: none;
}

.sidebar nav ul li {
    padding-top: 30px;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 42px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 04px 04px #d47d7d71;
    background: transparent;
    font-weight: 600;
}

a{
    color: #8E4848;
    font-size: 20px;
}

.container{
    background-color: #FDDADA;
    border-radius: 8px;
    position: fixed;
    top: 10px;
    left: 550px;
    bottom: 130px;
    padding: 12px ;
    max-width: 850px;
    min-width: 320px;
    height: 667px;
    overflow: auto;
       box-shadow: -5px -5px 30px 5px  #d47d7d71 
}

.container_title{
    border-radius:  8px 8px 0 0 ;
    position: fixed;
    background-color: #FDDADA;
    width: 874px;
    height: 60px;
    left: 550px;
    top: 10px;
    color: #ffff;
    text-align: center;
}

.container_title h1{
    margin-top: 10px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.scroll{
    margin-top: 50px;
}

.post{
    float: left;
    width: 659px;
    padding: 10px;
    background-color:#8E4848;
    margin: 0px 85px 0px;
    border-radius: 20px;
}

.post .pin{
    float: left;
    width: 32%;
    padding: 0px 0px 0px 28px;
    margin: 0px 74px 10px 0px;
}

img{
    margin: 10px 2px;
    box-shadow: 0px 0px 5px 10px #2002025c;
    display: block;
    position:static;
}

.f{
    display: none;
}

.f a{
    color: #8E4848;
    text-decoration: none;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 272px;
    background-color: rgb(203, 158, 158);
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px #2002025c;
}

.post .pin:target{
       width: 27%;
       height: 580px;
       padding-left: 40px;
       padding-top: 20px;
}

.post .pin:target .f{   
    display: block;
}

.pin:target{
    position: fixed;
    top: 59px;
    left: 50%;
    margin: 10px;
    background-color: #8E4848;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 05px #2002025c;
}

.post .pin:target a img{
    width: 350px;
}

::-webkit-scrollbar{
    width: 09px;
}

.scroll::-webkit-scrollbar-track{
padding: 30px;
}

::-webkit-scrollbar-thumb{
background-color: rgb(241, 171, 225);
border-radius: 30px;
}

}


