@media (min-width: 708px) and (max-width: 1024px) {
    
body{
    background-color: #ffaedf;
    padding: 0;
    margin: 0;
}

.nav_bar{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 127px;
}

.logo img{
    position: fixed;
    height: 100px;
    width: 100px;
    box-shadow: 0px 04px 04px #d47d7d71;
    border-radius: 60px;
    margin-left: 10px;
} 

.titles .title1, .title2{
    color: hsl(0, 0%, 100%);
    position: fixed;
    font-size: 25px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.title1{
    top:-28px;
}

.title2{
    top: 20px;

}

.sidebar_left{
    background-color: #FDDADA;
    max-width: 55%;
    height: 40px;
    position: fixed;
    right: 3px;
    top: 10px;
    box-shadow: 0px 04px 04px #d47d7d71;
    border-radius: 8px;
}

.botoes ul, .btn, li{ 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;  
    text-decoration: none;
}

.btn { 
    background: transparent;
    min-width: 82px;
    height: 22px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 04px 04px #d47d7d71;
}

a{
    color: #8E4848;
    font-size: 20px;
}

main{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container h1{
    background-color: #FDDADA; position: fixed;
    text-align: center;
    min-width: 668px;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    text-shadow: 0px 10px 10px #d47d7d71;
}

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #ffff;
    background-color: #FDDADA;
    position: fixed;
    padding: 0px;
    min-width: 768px;
    height: 570px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: -5px -5px 30px 5px  #d47d7d71;
}

.scroll{
    margin-top: 50px;
}

.post{
    float: left;
    width: 659px;
    padding: 0px;
    background-color:#8E4848;
    margin: 0px 0px 0px;
    border-radius: 20px;
}

.post .pin{
    float: left;
    width: 32%;
    padding: 0px 0px 0px 28px;
    margin: 0px 74px 10px 0px;
}

.pin img{
    width: 280px;
    margin: 10px 2px;
    box-shadow: 0px 0px 5px 10px #2002025c;
    display: block;
    position:static;
}

.f{
    display: none;
}

.f a{
    color: #8E4848;
    text-decoration: none;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 272px;
    background-color: rgb(203, 158, 158);
    border-radius: 3px;
    box-shadow: 0px 0px 15px 5px #2002025c;
}

.post .pin:target{
    width: 360px;
    height: 540px;
    padding: 40px;
    padding-top: 20px;
}

.post .pin:target .f{   
    display: block;
}

.pin:target{
    position: fixed;
    top:56px;
    left: 26%;
    margin: 10px;
    background-color: #8E4848;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 05px #6004045c;
}

.post .pin:target a img{
    width: 350px;
}

::-webkit-scrollbar{
    width: 09px;
}

.scroll::-webkit-scrollbar-track{
padding: 30px;
}

::-webkit-scrollbar-thumb{
background-color: rgb(241, 171, 225);
border-radius: 30px;
}
}
